#root {
    background-color: #FFFAFA;
    /* font-size: 62.5%; */
    /* background-color: #F0FFFF; */
}

.App {
    max-width: 85%;
    height:auto;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    /* background-color: lightblue; */
}

/* Add these projects styles to the projects css page if possible */
.projects {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

.project {
    width:90%;
    /* margin: 0 1%; */
    padding: 1.5%;
    border-bottom: 1px solid gray;
}

/* these are tech stack styles */

.techWrapper {
    display:flex;
    flex-flow:row wrap;
}

.tech {
    width:40%;
    margin:0 3%;
}

.project-info {
    display:flex;
    justify-content: space-around;
}

.project-info img {
    width: 50%;
    border: 1px solid black;
    padding:0.5%;
    margin-right: 2%;
    background-color: white;
}

.right-side a {
    padding: 0 1%;
}

/* .right-side {

} */

h2 {
    border-bottom: 2px solid black;
    padding: 0.5%;
    margin: 0.5% 0;
}

h4 {
    margin: 0;
    border-bottom: 1px solid gray;
    padding:0.5%;
}

h2:hover {
    background-image: linear-gradient(to right, purple , gold, green);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h3 a {
    cursor:pointer;
    text-decoration: none;
    color:black;
}

footer {
    text-align:center;
    padding-top:1.5%;
}
