.App {
    max-width: 80%;
    height:auto;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    /* background-color: lightblue; */
}

/* Add these projects styles to the projects css page if possible */
.projects {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

.project {
    width:90%;
    margin: 0 1%;
    padding: 2%;
    border-bottom: 1px solid gray;
}

/* these are tech stack styles */

.techWrapper {
    display:flex;
    flex-flow:row wrap;
}

.tech {
    width:40%;
    margin:0 3%;
}

.project-info {
    display:flex;
    justify-content: space-around;
}

.project-info img {
    width: 50%;
    border: 1px solid black;
    padding:1%;
    margin-right: 2%;
}

.right-side {
    display:flex;
    flex-flow:column;
    justify-content: space-around;
}

h2 {
    border-bottom: 2px solid black;
    padding: 1%;
}



footer {
    text-align:center;
    padding-top:1%;
}
