.banner-wrapper {
    padding:2%;
}

.banner {
    width:60%;
    margin:0 auto;
    display:flex;
}

.banner img {
    border-radius: 100%;
    width:30%;
    margin-right: 5%;
}

.banner .description h1 {
    font-size:2.5rem;
}
.banner .description p {
    font-size:1.5rem;
}